#cajaPrincipal{
    display: flex;
    height: 620px;
    border-radius: 10px;
    justify-content: center;
    
   
}

.cajaHijo{
    display: flex;
    margin: 100px 20px;
    border-radius: 10px;
    background-color: rgba(17, 17, 205, 0.55);
    flex: 1;
    justify-content: center ;
    /*padding: 100px;*/
    box-shadow: 20px 20px rgba(106, 103, 105, 0.55);  
}

.msg_error {
    background: rgb(237, 12, 12);
    border-left: 5px solid red;
    padding: 10px;
    color: #f3e9e9;
    display: none;
    font-weight: bold;  /*es como darle negrilla*/
}

.error_asterisco {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

p:before{
    content: attr(type);/*al elemento p habilite el contenido del atributo type*/
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(14, 14, 14);
    margin-top: 5px; /*espacio entre nombre,apellido,etc*/
}


.uno{
    border-radius: 5px;
    border-color:white;
    height: 30px;
    width: 300px;

}
#inputEnFila{
    display: flex; 
   
    justify-content: space-between
}
.dos{
    height: 30px;
    width: 125px;
    border-radius: 5px;
    border-color:white;
}

button {
    background: rgb(41, 17, 194);
    padding: 10px 20px;
    width: 305px;
    border-radius: 5px;
    color: rgb(244, 246, 250);
    margin-top: 25px;
}

img{
    margin-top: 125px;
    
}



